Repository equinix/equinix-cloudevents, changes with the owners that CODEOWNERS names for each.
All owners: @equinix/governor-digin-observability-architects, @equinix/governor-digin-fabric, @equinix/governor-qore-crh, @equinix/governor-ne-network-edge-engineering, @equinix/governor-qore-identity, @equinixmetal/governor-metal-equinix-watch

Change data definitions for ESH event type
  jsonschema/equinix/fabric/v1/Incident.json
Owners: @equinix/governor-digin-fabric

add new events for bgp session states
  DataLoader.json
Owners: @equinix/governor-digin-observability-architects

add change to ChangeEvent not DataLoader
  DataLoader.json
  jsonschema/equinix/fabric/v1/ChangeEvent.json
Owners: @equinix/governor-digin-observability-architects, @equinix/governor-digin-fabric

Auto commit generated client synchronization changes for Data Schema Updates - Thu Jul 10 20:39:34 UTC 2025
  DataLoader.json
  README.md
  jsonschema/catalog.json
Owners: @equinix/governor-digin-observability-architects

fix newline
  jsonschema/equinix/fabric/v1/ChangeEvent.json
Owners: @equinix/governor-digin-fabric

Update description to match incident type
  jsonschema/equinix/fabric/v1/Incident.json
Owners: @equinix/governor-digin-fabric

Auto commit generated client synchronization changes for Data Schema Updates - Thu Jul 10 20:48:40 UTC 2025
  jsonschema/catalog.json
Owners: @equinix/governor-digin-observability-architects

CXF-113667: Add Bgp PeerState Events for Arrcus Devices (#69)
  DataLoader.json
  README.md
  jsonschema/catalog.json
  jsonschema/equinix/fabric/v1/ChangeEvent.json
Owners: @equinix/governor-digin-observability-architects, @equinix/governor-digin-fabric

Add support for ESH events (#67)
  DataLoader.json
  README.md
  jsonschema/catalog.json
  jsonschema/equinix/fabric/v1/Incident.json
Owners: @equinix/governor-digin-observability-architects, @equinix/governor-digin-fabric

update release status for new bgp peer state events
  jsonschema/equinix/fabric/v1/ChangeEvent.json
Owners: @equinix/governor-digin-fabric

Auto commit generated client synchronization changes for Data Schema Updates - Wed Jul 16 16:55:44 UTC 2025
  DataLoader.json
  README.md
  jsonschema/catalog.json
Owners: @equinix/governor-digin-observability-architects

update metro jitter descriptions
  jsonschema/equinix/fabric/v1/MetricAlert.json
  jsonschema/equinix/fabric/v1/MetricEvent.json
Owners: @equinix/governor-digin-fabric

Auto commit generated client synchronization changes for Data Schema Updates - Wed Jul 16 20:18:45 UTC 2025
  DataLoader.json
  README.md
  jsonschema/catalog.json
Owners: @equinix/governor-digin-observability-architects

update metro jitter descriptions
  jsonschema/equinix/fabric/v1/MetricAlert.json
Owners: @equinix/governor-digin-fabric

Auto commit generated client synchronization changes for Data Schema Updates - Wed Jul 16 20:42:51 UTC 2025
  DataLoader.json
  README.md
  jsonschema/catalog.json
Owners: @equinix/governor-digin-observability-architects

CXF-114634-New EPT Events
  DataLoader.json
  README.md
  jsonschema/catalog.json
  jsonschema/equinix/time_service/v1/ChangeEvent.json
Owners: @equinix/governor-digin-observability-architects

Auto commit generated client synchronization changes for Data Schema Updates - Thu Jul 17 13:40:07 UTC 2025
  DataLoader.json
  README.md
  jsonschema/catalog.json
Owners: @equinix/governor-digin-observability-architects

Update metro jitter unit in descriptions (#71)
  DataLoader.json
  README.md
  jsonschema/catalog.json
  jsonschema/equinix/fabric/v1/MetricAlert.json
  jsonschema/equinix/fabric/v1/MetricEvent.json
Owners: @equinix/governor-digin-observability-architects, @equinix/governor-digin-fabric

CXF-114634-New EPT Events (#72)
  DataLoader.json
  README.md
  jsonschema/catalog.json
  jsonschema/equinix/time_service/v1/ChangeEvent.json
Owners: @equinix/governor-digin-observability-architects

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
#

* @equinix/governor-digin-observability-architects
fabric* @equinix/governor-digin-fabric
resource_manager* @equinix/governor-qore-crh
access_manager* @equinix/governor-qore-crh
network_edge* @equinix/governor-ne-network-edge-engineering
platform_identity* @equinix/governor-qore-identity
iam* @equinixmetal/governor-metal-equinix-watch
